<!DOCTYPE html>
<html lang="zh-CN" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@ViewData["Title"] - @Config.Site.DisplayName</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body class="h-100">
        <div id="app" class="d-flex flex-column h-100">
            <partial name="_Header" />
            <main role="main" class="flex-shrink-0 d-flex align-items-center flex-grow-1">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
            <partial name="_Footer" />
        </div>
        <script src="/lib/jquery/dist/jquery.slim.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @await RenderSectionAsync("scripts", false)
    </body>
</html>